/* style.css */
body {
    text-align: center;
    background-color: blanchedalmond;
    font-family:Arial, Helvetica, sans-serif
}

.recipeimg {
    width: 500;
    height: 200px;
}

#bigtext {
    font-weight: bold;
    font-size: 24px;
    color: rgb(78, 77, 77);
}

/* Grouping selectors: */

.mylist, .button  {
    font-size: 18px;
}

.mylist li {
    padding-left: 10px;
    list-style-position: inside;
    text-align: left; /* align the text to the left*/
    margin-bottom: 10px;
/*     margin-right:25%;
    margin-left: 25%;
    text-indent: 10px;
 */
}

.button {
   /*  Played around with some values but looked up button on w3s */
    background-color: rgb(186, 240, 186);
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    display:inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

/* Chaining selectors */
.para.text{
    color: rgb(48, 36, 3);
    font-size: 16px;
}
.para.simple {
    font-weight: lighter;
    font-style: oblique;
}

/* Descent combination */
.container .text{
    background-color: lightyellow;
    color: #531010;
    font-weight: bolder;
  
}